<!-- adminproducts.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Products</title>
    <!-- Include Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- sidebar %>

    <div class="container ml-64 p-8 flex justify-between items-center">
      <!-- Adjusted top padding and added flex utility classes -->
      <h1 class="text-3xl font-bold">Products</h1>
      <!-- Removed top margin -->
      <a href="products/add">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Add Products
        </button>
      </a>
    </div>
    <div class="container ml-64 p-5">
      <!-- Adjusted top padding -->
      <table class="min-w-full divide-y divide-gray-200 text-sm">
        <!-- Adjusted font size -->
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="px-4 py-4 text-left text-xs font-large text-gray-500 uppercase tracking-wider"
            >
              Photos
            </th>
            <th
              scope="col"
              class="px-4 py-4 text-left text-xs font-large text-gray-500 uppercase tracking-wider"
            >
              Name
            </th>
            <th
              scope="col"
              class="px-4 py-4 text-left text-xs font-large text-gray-500 uppercase tracking-wider"
            >
              Price
            </th>
            <th
              scope="col"
              class="px-4 py-4 text-left text-xs font-large text-gray-500 uppercase tracking-wider"
            >
              Description
            </th>
            <th
              scope="col"
              class="px-4 py-4 text-left text-xs font-large text-gray-500 uppercase tracking-wider"
            >
              Status
            </th>
            <th
              scope="col"
              class="px-4 py-4 text-left text-xs font-large text-gray-500 uppercase tracking-wider"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <% products.forEach(product => { %>
          <tr>
            <td class="px-2 py-2 whitespace-nowrap">
              <img
                src="http://localhost:8000/<%= product.photos %>"
                alt="product Photo"
                class="h-20 w-auto"
              />
            </td>
            <td class="px-6 py-6 text-md whitespace-nowrap">
              <%= product.name %>
            </td>
            <td class="px-6 py-6 text-md whitespace-nowrap">
              <%= product.price %>
            </td>
            <td
              class="px-6 py-6 text-md whitespace-nowrap max-w-xs overflow-hidden overflow-ellipsis"
            >
              <%= product.description %>
            </td>
            <td class="px-6 py-6 text-md whitespace-nowrap">
              <%= product.is_limited ? 'Auction Product' : 'Normal' %>
            </td>

            <td class="px-6 py-6 text-md whitespace-nowrap">
              <a
                href="/admin/products/edit/<%= product.id %>"
                class="text-indigo-600 hover:text-indigo-900"
                >Edit</a
              >
              <form
                action="/admin/products/delete/<%= product.id %>?_method=DELETE"
                method="POST"
                class="inline"
              >
                <button type="submit" class="text-red-600 hover:text-red-900">
                  Delete
                </button>
              </form>
              <form
                action="/admin/products/limited/<%= product.id %>?_method=PUT"
                method="POST"
                class="inline"
              >
                <button
                  type="submit"
                  class="text-green-600 hover:text-green-900"
                >
                  Announce Auction
                </button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
